/*
 * Desktop >= 992px 
 * Tablet >= 768px && < 992px
 * Mobile < 768px
 */

body {
 	font-family: Verdana, Arial, sans-serif;
 	margin: 0;
 	padding: 0;
}

h2 {
 	text-align: center;
 	padding: 0 15px;
 	font-size: 175%;
}

.container {
	padding: 0 15px;
	box-sizing: border-box;
}

.text-box {
	border: 1px solid #000;
	box-sizing: border-box;
	position: relative;
	margin: 20px auto;
	max-width: 400px;
	background: #D3D3D3;
	height: 100%;
}

.text-box p {
	margin: 45px 10px 15px;
}

.text-title {
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	text-align: center;
	background: #BA55D3;
	padding: 5px 0;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 125%;
}

.second .text-title {
	background: #DC143C;
	color: #fff;
}

.third .text-title {
	background: #FFD700;
}

@media screen and (min-width:768px) {
	.container {
		padding: 0;
	}
	.text-box {
		width: 48%;
		margin: 1%;
		float: left;
		max-width: none;
	}
	.text-box.third {
		width: 98%;
	}
}

@media screen and (min-width:992px) {
	.text-box {
		width: 31.33%;
		margin: 1%;
	}
	.text-box.third {
		width: 31.33%;
	}
}








